/public_html/composer.lock
# /Object-Detection-YoloV4

/public_html/storage/medialibrary/temp/
/public_html/storage/app/
/public_html/storage/logs/*

/public_html/storage/framework/sessions/*
/public_html/storage/framework/views/*
/public_html/storage/framework/cache/data/*

.composer/cache/files/*
.composer/cache/repo/https---repo.packagist.org/*

/public_html/vendor/*
/public_html/node_modules/*